
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    background-color: #000;
    background-image: linear-gradient(45deg, #9cdcec, #ac9cec, #ec9cdc);
    background-size: 600% 600%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    margin-top: 50px;
    font-size: 50px;
}

/* Add styles for the logo */
.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background-image: url("/images/transparentlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.shake-animation {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

#eight-ball {
    width: 393px;
    height: 397px;
    margin: 50px auto;
    border-radius: 50%;
    background-image: url('../images/8ballemptynew.png');
    position: relative;
    animation: shake-animation;
}
#answer {
    width: 230px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 83px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Source Code Pro', Monospaced;
    color: black;
}
#shake-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}