body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    margin-top: 50px;
}

/* Add styles for the logo */
.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background-image: url("/images/transparentlogo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.shake-animation {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

#eight-ball {
    width: 393px;
    height: 397px;
    margin: 50px auto;
    border-radius: 50%;
    background-color: black;
    background-image: url('../images/8ballemptynew.png');
    position: relative;
    animation: shake-animation;
}
#answer {
    width: 120px;
    height: 120px;
    background-image: url('images/magic-ball.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 135px;
    left: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
#shake-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}